@import model._

<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@@0.9.1/css/bulma.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
      let form = document.getElementById("start-game")

      function submit(event){
        event.preventDefault()
        let url = new URL("/game", document.location)
        console.log(url)

        let releaseYearMin = document.querySelector("#start-game [name=releaseYearMin]").value
        if(releaseYearMin)
          url.searchParams.append("releaseYearMin", releaseYearMin);

        let releaseYearMax = document.querySelector("#start-game [name=releaseYearMax]").value
        if(releaseYearMax)
          url.searchParams.append("releaseYearMax", releaseYearMax);

        document.location = url.href
      }
      form.addEventListener('submit', submit)
    })
  </script>
</head>

<body>
  <form id="start-game" class="block box" style="max-width: 600px; margin-left: auto; margin-right: auto; margin-top: 40px;">
    <h1 class="title">Pop-Culture-Quiz</h1>
    <div class="field is-horizontal">
      <div class="field-label is-normal" style="flex-grow: 2;"><label class="label">Release Year from:</label></div>
      <div class="field-body">
        <div class="control">
          <input class="input" type="text" name="releaseYearMin" placeholder="1995">
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal" style="flex-grow: 2;"><label class="label">Release Year to:</label></div>
      <div class="field-body">
        <div class="control">
          <input class="input" type="text" name="releaseYearMax" placeholder="2015">
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal" style="flex-grow: 2;"></div>
      <div class="field-body">
        <div class="control">
          <input class="button is-primary" type="submit" value="Play!" onclick="submit"/>
        </div>
      </div>
    </div>
  </form>
</body>
