<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%level] %logger{15} - %message%n%xException{10}</pattern>
        </encoder>
    </appender>

    <logger name="application" level="DEBUG"/>
    <logger name="akka.streams.Materializer" level="DEBUG"/>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="Main" level="info"/>
    <logger name="korolev" level="trace"/>
    <logger name="access" level="info"/>
    <logger name="dataprocessing.agent.Agent" level="info"/>
    <logger name="dataprocessing.imdb.IMDBClient" level="info"/>
    <logger name="dataprocessing.translation.TranslationChain" level="info"/>
    <logger name="dataprocessing.translation.systran.SystranTranslate" level="info"/>
    <logger name="dataprocessing.translation.google.GoogleTranslate" level="info"/>
    <logger name="dataprocessing.service.TextToSpeech" level="info"/>

</configuration>
