@import repo._
@import model._

@(movies: Seq[MovieRow], quotes: Seq[QuoteRow])


<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@@0.9.1/css/bulma.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <h1 class="title">Pop-Culture-Quiz Admin</h1>

  <section>
    <h2 class="title">Movies: </h2>
    <table class="table">
      <tr>
        <th>Movie Id</th>
        <th>Title</th>
        <th>State</th>
      </tr>
      @for(movie <- movies) {
        <tr>
          <td>@{movie.movieId}</td>
          @movie.state match{
            case crawled: QuoteCrawlerState.Crawled => { <td>@{crawled.title}</td> }
            case _ => { <td></td> }
          }
          @movie.state match {
            case state: QuoteCrawlerState.Crawled => { <td>@{state.numberOfQuotes} Quotes</td> }
            case QuoteCrawlerState.NotCrawled => { <td>not jet crawled</td> }
            case QuoteCrawlerState.NotFound => { <td>movie was not found on imdb</td> }
            case state: QuoteCrawlerState.UnexpectedError => { <td>an unexpected error ocurred: ${state.message}</td> }
          }
        </tr>
      }
    </table>
  </section>
  <section>
    <h2 class="title">Quotes: </h2>
    <table class="table">
      <tr>
        <th><div>Movie Id</div><div>Quote Id</div></th>
        <th>Votes</th>
        <th>Quote</th>
        <th>Translated</th>
      </tr>
      @for(quote <- quotes) {
        <tr>
          <td><div>@{quote.movieId}</div><div>@{quote.quoteId}</div></td>
          <td>
            @quote.quote.count match {
              case Some((upVotes, countVotes)) => { @upVotes / @countVotes }
              case None => { - }
            }
          </td>
          <td>@views.html.admin.Quote(quote.quote)</td>
          <td>
            @quote.translated match {
              case Some(translated) => { @views.html.admin.Quote(quote.quote) }
              case None => { - }
            }
          </td>
        </tr>
      }
    </table>
  </section>
  </body>
</html>
