@import repo._
@import model._

@(translation: Seq[(TranslationRow, QuoteRow)])


<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@@0.9.1/css/bulma.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
      let form = document.getElementById("enqueue-quote")

      function submit(event){
        event.preventDefault()
        let quoteId = document.querySelector("#enqueue-quote [name=quoteId]").value
        let service = document.querySelector("#enqueue-quote [name=service]").value
        let chain = document.querySelector("#enqueue-quote [name=chain]").value.split(",").map(step => step.trim())

        fetch(`/api/enqueue-translation?quoteId=${quoteId}`, {
          method: "POST",
          body: JSON.stringify({service, chain}),
          headers: {
            'Content-Type': 'application/json',
          }
        })
          .then(() => document.location.reload())
      }
      form.addEventListener('submit', submit)
    })
  </script>
</head>

<body>
  <h1 class="title">Pop-Culture-Quiz Admin: Translations</h1>


  <form id="enqueue-quote" class="block box" style="max-width: 600px; margin-left: auto; margin-right: auto;">
    <div class="field is-horizontal">
      <div class="field-label is-normal" style="flex-grow: 2;"><label class="label">Quote Id:</label></div>
      <div class="field-body"><div class="control">
        <input class="input" type="text" name="quoteId" placeholder="qt5323361">
      </div></div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal" style="flex-grow: 2;"><label class="label">Translation Service:</label></div>
      <div class="field-body"><div class="control">
        <div class="select">
          <select name="service">
            <option value="Google">Google Translate</option>
            <option value="Systran">Systran Translate</option>
          </select>
        </div>
      </div></div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal" style="flex-grow: 2;"><label class="label">Translation Chain:</label></div>
      <div class="field-body"><div class="control">
        <input class="input" type="text" name="chain" placeholder="de, fr, nl">
      </div></div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal" style="flex-grow: 2;"></div>
      <div class="field-body"><div class="control">
        <input class="button is-primary" type="submit" value="Enqueue Quote for Translation" onclick="submit"/>
      </div></div>
    </div>
  </form>


  <table class="table block">
    <tr>
      <th>
        <div>Movie Id</div>
        <div>Quote Id</div>
      </th>
      <th>
        <div>Translation Service</div>
        <div>Translation Chain</div>
      </th>
      <th>Original</th>
      <th>Translation</th>
    </tr>
    @for((translation, quote) <- translation) {
      <tr>
        <td>
          <div>@{quote.movieId}</div>
          <div>@{quote.quoteId}</div>
        </td>
        <td>
          <div>@{translation.translationService}</div>
          <div>@{translation.translationChain.mkString(", ")}</div>
        </td>
        <td>@views.html.components.Quote(quote.quote)</td>
        <td>
          @translation.translation match{
            case TranslationState.NotTranslated => { awaiting translation }
            case TranslationState.Translated(quote) => { @views.html.components.Quote(quote) }
            case TranslationState.UnexpectedError(error) => { Error: @error }
          }
        </td>
      </tr>
    }
  </table>
  </body>
</html>
